@import "tailwindcss/base";
@import "tailwindcss/components";

/* Additional styles */
@import "additional-styles/utility-patterns.css";
@import "additional-styles/flatpickr.css";

@import "tailwindcss/utilities";

/* Custom styles */
.bg-gradient-blue {
    background: rgb(0, 177, 255);
    background: -moz-linear-gradient(
        90deg,
        rgba(0, 177, 255, 1) 0%,
        rgba(255, 255, 255, 1) 91%
    );
    background: -webkit-linear-gradient(
        90deg,
        rgba(0, 177, 255, 1) 0%,
        rgba(255, 255, 255, 1) 91%
    );
    background: linear-gradient(
        90deg,
        rgba(0, 177, 255, 1) 0%,
        rgba(255, 255, 255, 1) 91%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00b1ff",endColorstr="#ffffff",GradientType=1);
}

.btn-grad {
    background-image: linear-gradient(
        to right,
        #dc2424 0%,
        #4a569d 51%,
        #dc2424 100%
    );

    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}

.btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.dark .btn-grad2 {
    background-image: linear-gradient(
        to right,
        #870000 0%,
        #190a05 51%,
        #870000 100%
    );

    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}

.dark .btn-grad3 {
    background-image: linear-gradient(
        to right,
        #16222a 0%,
        #3a6073 51%,
        #16222a 100%
    );
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}

.bg-gradient-custom {
    background: rgb(224, 0, 0);
    background: -moz-linear-gradient(
        90deg,
        rgba(224, 0, 0, 1) 50%,
        rgba(227, 227, 224, 1) 50%
    );
    background: -webkit-linear-gradient(
        90deg,
        rgba(224, 0, 0, 1) 50%,
        rgba(227, 227, 224, 1) 50%
    );
    background: linear-gradient(
        90deg,
        rgba(224, 0, 0, 1) 50%,
        rgba(227, 227, 224, 1) 50%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e00000",endColorstr="#e3e3e0",GradientType=1);
}

.btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 0.375rem;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-sm {
    padding: 0.50rem 0.5rem;
    font-size: 0.875rem;
}

.btn-primary {
    background-color: rgb(224, 0, 0);
    color: #fff;
    border: 1px solid transparent;
}

.btn-primary:hover {
    background-color: rgb(255, 110, 58);
}

/* Style untuk memastikan gambar tetap sesuai bentuk */
img {
    object-fit: contain; /* Atau 'cover' jika ingin gambar menutupi area tanpa memotong */
}


